In [1]:
## this file reads the source data and all the additional processed files
## and combines them all in a single file

In [2]:
import pandas as pd

In [3]:
file_name_source  = '../data/green_tripdata_2015-09.csv'
file_name_airport = '../data/green_tripdata_2015-09_airport.csv'
file_name_pickup  = '../data/green_tripdata_2015-09_pickup_borough.csv'
file_name_dropoff = '../data/green_tripdata_2015-09_droppoff_borough.csv'
file_name_geohash = '../data/green_tripdata_2015-09_geo.csv'
file_name_out     = '../data/green_tripdata_2015-09_modified.csv'

In [4]:
df = pd.read_csv(file_name_source)
print(df.shape)
dfa = pd.read_csv(file_name_airport)
print(dfa.shape)
dfp = pd.read_csv(file_name_pickup)
print(dfp.shape)
dfd = pd.read_csv(file_name_dropoff)
print(dfd.shape)
dfg = pd.read_csv(file_name_geohash)
print(dfg.shape)

(1494926, 21)
(1494926, 3)
(1494926, 3)
(1494926, 3)
(1494926, 22)

In [5]:
dfg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494926 entries, 0 to 1494925
Data columns (total 22 columns):
Pickup_longitude     1494926 non-null float64
Pickup_latitude      1494926 non-null float64
Dropoff_longitude    1494926 non-null float64
Dropoff_latitude     1494926 non-null float64
Pickup_geo_5         1494926 non-null object
Pickup_lat_5         1494926 non-null float64
Pickup_lon_5         1494926 non-null float64
Dropoff_geo_5        1494926 non-null object
Dropoff_lat_5        1494926 non-null float64
Dropoff_lon_5        1494926 non-null float64
Pickup_geo_7         1494926 non-null object
Pickup_lat_7         1494926 non-null float64
Pickup_lon_7         1494926 non-null float64
Dropoff_geo_7        1494926 non-null object
Dropoff_lat_7        1494926 non-null float64
Dropoff_lon_7        1494926 non-null float64
Pickup_geo_9         1494926 non-null object
Pickup_lat_9         1494926 non-null float64
Pickup_lon_9         1494926 non-null float64
Dropoff_geo_9        1494926 non-null object
Dropoff_lat_9        1494926 non-null float64
Dropoff_lon_9        1494926 non-null float64
dtypes: float64(16), object(6)
memory usage: 250.9+ MB

In [6]:
## put all in one dataframe
df["Pickup_tag"] = dfa["Pickup_tag"]
df["Dropoff_tag"] = dfa["Dropoff_tag"]
df["Airport_tag"] = dfa["Airport_tag"]

df["Pickup_borough"]  = dfp["Pickup_borough"]
df["Dropoff_borough"] = dfd["Dropoff_borough"]


for pdstr in ["Pickup", "Dropoff"]:
    for n in [5,7,9]:
        df[pdstr + "_geo_" + str(n)] = dfg[pdstr + "_geo_" + str(n)]
        df[pdstr + "_lat_" + str(n)] = dfg[pdstr + "_lat_" + str(n)]
        df[pdstr + "_lon_" + str(n)] = dfg[pdstr + "_lon_" + str(n)]

In [7]:
## write to file
df.to_csv(file_name_out, index=False)